SECRET_KEY=django-insecure-tecnicusco-2026-key-cambiar-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
FRONTEND_URL=http://localhost:5173

# Correo (para recuperación de contraseña)
# En desarrollo usa django.core.mail.backends.console.EmailBackend
# En producción usa django.core.mail.backends.smtp.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=TécniCusco <noreply@tecnicusco.pe>

# Google OAuth Client ID (obtenido en Google Cloud Console)
GOOGLE_CLIENT_ID=

# Groq API (Agente Conversacional con LLaMA 3.3 70B)
GROQ_API_KEY=gsk_tu_clave_de_groq_aqui
GROQ_MODEL=llama-3.3-70b-versatile
